.ui-page { 
	-webkit-backface-visibility: hidden; 
}

#page_races #races_list {
    width: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    transition: left 0.5s;
}


#page_races #races_list.active {
    left: 0;
}

#page_races #races_detail {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    transition: left 0.5s, right 0.5s;
}

#page_races #races_detail.active {
    left: 0;
}

@media all and (min-width: 50em){
    /* tablet layout */

    #page_races #races_list,
    #page_races #races_list.active{
        left: 0;
        width: 326px;
        transition: none;
    }

    #page_races #races_detail,
    #page_races #races_detail.active{
        width: auto;
        left: 326px;
        right: 0;
        transition: none;
    }

    #races_detail .backbutton {
        display: none;
    }
}

/* reproduce jQuery UI menu transitions */
#page_races {
    z-index: 100;
    transition: left 0.5s;
}

#page_races.slide.out {
    transition: none;
}

#menu.ui-panel-open ~ #page_races {
    left: 272px;
}

.header {
	background-color: #303F9F !important;
	color: #FFFFFF !important;
}

.icon {
	background-color: #00BCD4 !important;
}

#menu {
	background-color: #00BCD4 !important;
}

.menuItem {
	background-color: #00BCD4 !important;
	color: #000000;
}

.menuItem:hover { 
    background-color: #B6B6B6 !important;
}

button {
	background-color: #00BCD4 !important;
}

button:hover { 
    background-color: #B6B6B6 !important;
}

.link {
	color: #00BCD4 !important;
}

.link:hover {
	color: #B6B6B6 !important;
}

.listItem {
	background-color: #C5CAE9 !important;
}

.listItem:hover { 
    background-color: #B6B6B6 !important;
}

.tekst {
	color: #727272 !important;
}

.status {
	float: right;
	padding-right: 20px;
}

#startTijdDiv {
	float: left;
	width: 50%;
}

#eindTijdDiv {
	float: right;
	width: 50%;
	text-align: right;
}
