.ui-page { 
	-webkit-backface-visibility: hidden; 
}

/*@media all and (min-width: 50em){
	#page_races{
		display: block;
		float: left;
		width: 20%;
		position: relative;
		z-index: 200;
	}

	#page_race{
		display: inline-block;
		float: right;
		width: 80%;
		margin-left: 20%;
		position: relative;
	}
}*/

.header {
	background-color: #303F9F !important;
	color: #FFFFFF !important;
}

.icon {
	background-color: #00BCD4 !important;
}

#menu {
	background-color: #00BCD4 !important;
}

.menuItem {
	background-color: #00BCD4 !important;
	color: #000000;
}

.menuItem:hover { 
    background-color: #B6B6B6 !important;
}

button {
	background-color: #00BCD4 !important;
}

button:hover { 
    background-color: #B6B6B6 !important;
}

.link {
	color: #00BCD4 !important;
}

.link:hover {
	color: #B6B6B6 !important;
}

.listItem {
	background-color: #C5CAE9 !important;
}

.listItem:hover { 
    background-color: #B6B6B6 !important;
}

.tekst {
	color: #727272 !important;
}

.status {
	float: right;
	padding-right: 20px;
}

#startTijdDiv {
	float: left;
	width: 50%;
}

#eindTijdDiv {
	float: right;
	width: 50%;
	text-align: right;
}
