.sprite {
    background-image: url('../img/spritesheet.png');
    background-repeat: none;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent !important;
    border-radius: 15px !important;
    border: none !important;
    display: table-cell !important;
    vertical-align: middle !important;
}

.sprite-add {
    background-position: 0 0;
}

.sprite-menu {
    background-position: -30px 0;
}

.ui-icon-carat-r:after {
    background-image: url('../img/spritesheet.png');
    background-position: -63px -4px;
}

.sprite-back {
    background-position: -90px 0;
}

.sprite-race {
    background-position: 0 -30px;
}

.sprite-profile {
    background-position: -30px -30px;
}

.sprite-settings {
    background-position: -60px -30px;
}

.sprite-logout {
    background-position: -90px -30px;
}